<div class="text-center">
    <form name="newAcctForm">
        <p>Create new account</p>
        <div>
        Account type:
        <input type="radio" ng-model="formData.acctType" value="user" checked="checked">User
        <input type="radio" ng-model="formData.acctType" value="merchant">Merchant<br/>
        </div>
        <div>
        Username: <input type="text" placeholder="Username" ng-model="formData.username" required>
        </div>
        Password: <input type="password" placeholder="Password" ng-model="formData.password" required>
        <div>
        Email address: <input type="email" placeholder="Email address" ng-model="formData.email" required>
        </div>
        <div>
        Ripple wallet address: <input type="text" placeholder="Ripple wallet address" ng-model="formData.wallet_addr" required>
        </div>
        <div ng-show="formData.acctType == 'merchant'">
        Merchant name: <input type="text" placeholder="Merchant name" ng-model="formData.merch_name">
        </div>

        <button class="btn btn-default" type="submit" ng-click="create(formData)" ng-disabled="loginForm.$invalid">Submit</button>
    </form>
</div>
